@use "@shared/styles" as vars;
@use "@shared/ui/avatar/avatar";
@use "@shared/ui/button/button";
@use "@shared/ui/form/form";
@use "@shared/ui/FormInput/FormInput";
@use "@shared/ui/popup-menu/PopupMenu";
@use "@shared/ui/nav/navbar";
@use "@shared/ui/profile/ProfileField";
@use "@shared/ui/search/search";
@use "@pages/chat/ui/ChatItem";
@use "@pages/chat/ui/ChatItemMessage";
@use "@pages/chat/ui/ChatItemCounter";
@use "@pages/chat/ui/ChatDate";
@use "@pages/chat/ui/ChatMessage";
@use "@pages/chat/ui/Chat";
@use "@pages/chat/ui/ChatProfile";
@use "@pages/chat/ui/ChatFooter";
@use "@pages/chat/ui/ChatSendButton";
@use "@pages/chat/ui/ChatInput";
@use "@pages/chat/ui/ChatFileButton";
@use "@pages/chat/ui/ChatPage";
@use "@pages/chat/ui/ChatsList";

.app,
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    min-block-size: 100vh;
}

.container {
    inline-size: 100%;
    margin: 0 auto;
    padding-inline: calc(vars.$module * 2);
}

.hidden {
    position: absolute;

    inline-size: 1px;
    block-size: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;

    inline-size: 100%;
    block-size: inherit;
}
