.error-page {
    flex-direction: column;

    &__title,
    &__description {
        text-align: center;
    }

    &__title {
        margin-block-end: calc($module * 2.5);
        font-size: calc($module * 5);
    }

    &__description {
        margin-block-end: calc($module * 8.5);
        font-size: calc($module * 2.5);
    }
}
