.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    inline-size: 100%;
    max-inline-size: calc($module * 62);

    &__inputs,
    &__buttons {
        inline-size: 100%;
        margin-block-start: calc($module * 7.5);
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__button {
        display: block;

        inline-size: 100%;
        padding: calc($module * 1.25) 0;

        border-radius: 0;

        color: $primary-color;
        font-size: calc($module * 1.7);
        text-align: start;

        &_save {
            max-inline-size: calc($module * 35);
            margin-block-start: calc($module * 7.5);

            &_password {
                margin-block-start: calc($module * 20.25);
            }
        }

        &_danger {
            color: $danger;
        }
    }

    &__name {
        margin-block-start: calc($module * 2.625);
        font-weight: 600;
    }
}
