<nav class='navbar'>
    <ul class='navbar__list'>
        <li class='navbar__item'>
            <a class='navbar__link' href='#login'>Вход</a>
        </li>
        <li class='navbar__item'>
            <a class='navbar__link' href='#registration'>Регистрация</a>
        </li>
        <li class='navbar__item'>
            <a class='navbar__link' href='#profile'>Профиль</a>
        </li>
        <li class='navbar__item'>
            <a class='navbar__link' href='#edit-profile'>Редактирование</a>
        </li>
        <li class='navbar__item'>
            <a class='navbar__link' href='#change-password'>Смена пароля</a>
        </li>
        <li class='navbar__item'>
            <a class='navbar__link' href='#chats-list'>Список чатов</a>
        </li>
        <li class='navbar__item'>
            <a class='navbar__link' href='#chat'>Лента переписки</a>
        </li>
        <li class='navbar__item'>
            <a class='navbar__link' href='#error-500'>Страница 500</a>
        </li>
        <li class='navbar__item'>
            <a class='navbar__link' href='#error-404'>Страница 404</a>
        </li>
    </ul>
</nav>