.profile {
    &-field {
        display: flex;
        justify-content: space-between;
        align-items: center;

        inline-size: 100%;

        font-size: calc($module * 1.63);

        &__input {
            padding-block: calc($module * 1.25);
            color: $color-hint;
            text-align: end;
        }
    }
}
