$module: 8px;
$primary-color: #3369f3;
$color-hint: #999;
$main-color-text: #1e1e1e;
$secondary-color-text: #fff;
$secondary-bg: #fff;
$danger: #ff2f2f;
$separator: #eaeaea;
$gray-bg: #efefef;
$message-bg-secondary: #f8f8f8;
$message-bg-primary: #e4edfd;
$color-profile-button-menu: #f5f5f5;
$third-bg-color: #FBFBFB;
