@use "@shared/styles" as *;

.chat-item__message {
    margin-block-start: calc($module * 0.5);
    overflow: hidden;

    color: $color-hint;
    font-size: calc($module * 1.5);
    text-overflow: ellipsis;
}
