@use "@shared/styles" as *;

.chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    inline-size: 100%;
    block-size: 100%;
    padding: 0 calc($module * 2.5);

    .messages {
        display: flex;
        flex: 1;
        flex-direction: column;
        overflow-y: auto;
    }

    &__placeholder {
        display: flex;
        justify-content: center;
        align-items: center;

        inline-size: 100%;
        block-size: 100%;

        color: $color-hint;
    }
}
