<main class='error-page'>
	<h1 class="error-page__title">{{title}}</h1>
	<p class="error-page__description">{{description}}</p>
	{{> Button 
		id=button.id
		text=button.text
		className=button.className
	}}
</main>
{{> Navbar }}